<%= button_to 'Log out', destroy_user_session_path, method: :delete %>
<h2>Welcome <%= current_user.first_name %></h2>
<%= link_to "add account", new_account_path %>
<h1>Your Accounts</h1>
<ul>
  <% @accounts.each do |account| %>
    <li>
      <%= account.name %> - $<%= account.balance %>
    </li>
  <% end %>
</ul>